---
import "../styles/global.css";
// src/layouts/BaseLayout.astro
const { title = "Fight-Box Martial Arts", description = "Train your martial arts with professionals" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={description} />
    <title>{title}</title>

    <!-- Google Fonts (puedes cambiar por Montserrat / Inter) -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Montserrat:wght@700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- Importamos Tailwind + global.css -->

  </head>
  <body class="font-sans antialiased bg-bg text-fg">
    <slot />
  </body>
</html>
